html, body {
    height: 100%;
}
body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    flex: 1 0 auto;
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Header & Footer styles */
.header {
    position: fixed;
    top: 0;
    background-color: lightgray;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    min-height: 50px;
    text-align: center;
}
    .header span {
        margin: 0px 10px;
    }
    .header a {
        font-weight: 600;
    }

.footer {
    background-color: black;
    color: white;
    flex-shrink: 0;
    width: 100%;
}

    .footer div {
        margin: 10px;
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    color: red;
}

.login_label {
    width: 150px;
}

.ruleName {
    font-weight: 700;
}

.clearFloat {
    clear: both;
}

/*Form Display settings*/
form select {
    padding: 3px 5px;
    margin: 4px 0px;
}

form .generalInfoSpan {
    min-width: 60px;
}

form .driverInfoSection {
    height: 100px;
}

form .floatHolder {
    width: 100%;
    min-height: 50px;
}

    form .floatHolder .leftColumn {
        width: 50%;
        float: left;
    }

    form .floatHolder .rightColumn {
        width: 50%;
        float: right;
    }

form input:read-only {
    color: darkgray;
    background-color: lightgray;
}

/*Table Display settings*/
.buildDisplayTable {
    margin: 5px 0px;
}

    .buildDisplayTable > thead td {
        background-color: lightgray;
        border: 2px solid black;
        font-weight: 600;
    }

    .buildDisplayTable td {
        border: 1px solid black;
        padding: 2px 4px;
    }

        .buildDisplayTable td.number {
            text-align: center;
        }

/*Printable Dashboard settings*/
@page {
    margin: 0.4in;
}

.pageBreakBefore {
    page-break-before: always;
}

.teamDashboardContainer {
    width: 100%;
    height: 520pt;
}

    .teamDashboardContainer .teamDashboardLeft {
        float: left;
        width: 50%;
    }

    .teamDashboardContainer .teamDashboardRight {
        float: right;
        width: 50%;
    }

.displayTable > thead td {
    background-color: lightgray;
    border: 2px solid black;
    font-weight: 600;
}

.displayTable td {
    border: 1px solid black;
    padding: 2px 4px;
}

    .displayTable td.number {
        text-align: center;
    }

div#dashboard {
    width: 360pt;
    min-height: 504pt;
    border: 2px solid black;
    font-size: 12px;
}

    div#dashboard .printSectionHeader {
        font-weight: 600;
        width: 100%;
        border-bottom: 2px solid black;
    }

    div#dashboard #vehicleStatsContainer {
        width: 100%;
        height: 75px;
    }

    div#dashboard #leftColumn {
        width: 50%;
        float: left;
    }

    div#dashboard #middleColumn {
        width: 30%;
        float: right;
    }

    div #dashboard #rightColumn {
        width: 20%;
        float: right;
    }

    div#dashboard div.gearDisplay {
        border: 4px solid black;
        width: 50px;
        height: 50px;
        font-size: 20px;
        text-align: center;
    }

    div#dashboard td.hullDisplay {
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
    }

    div#dashboard td > div.hullSquare {
        margin: 2px;
        border: 2px solid black;
        width: 20px;
        height: 20px;
    }

/*Media tags*/
@media (max-width: 900px) and (min-width: 350px) {
    .container {
        margin-left: 2px;
        margin-right: 2px;
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .buildDisplayTable {
        margin: 5px 0px;
        max-width: 850px;
    }

    form .floatHolder {
        width: 100%;
        min-height: 50px;
    }

        form .floatHolder .leftColumn {
            width: 100%;
        }

        form .floatHolder .rightColumn {
            width: 100%;
        }
}
