
@{
    ViewBag.Title = "Changelog";
}

<h2>Changelog</h2>

<h4>Update - Sep 3 2018</h4>
<ul type="disc">
    <li>Added Special Rules for Stina's Stockpile weapons</li>
    <li>Fixed build validation bug</li>
    <li>Fixed Special Rule display bug</li>
    <li>Updated how Special Rules get displayed in tables</li>
    <li>Updated list of Perks &amp; Special Rules to remove for print</li>
</ul>

<h4>Update - Sep 1 2018</h4>
<ul type="disc">
    <li>Moved to new Azure web hosting location</li>
    <li>Added Stina's Stockpile updates (new Sponsor, Weapons, Upgrades, etc...)</li>
</ul>

<h4>Update - Aug 7 2018</h4>

<ul type="disc">
    <li>Added 'Copy' feature for builds</li>
    <li>Added Changelog</li>
    <li>Added proper header and footer sections</li>
</ul>