
@{
    ViewBag.Title = "Changelog";
}

<h2>Changelog</h2>

<h4>Update - Aug 7 2018</h4>

<ul type="disc">
    <li>Added 'Copy' feature for builds</li>
    <li>Added Changelog</li>
    <li>Added proper header and footer sections</li>
</ul>